@page
@model IndexModel
@using Microsoft.AspNetCore.Identity
@using AceJobAgency.ViewModels;
@inject SignInManager<MemberIdentity> SignInManager
@{
    ViewData["Title"] = "Home page";
}

@if (SignInManager.IsSignedIn(User))
{
	<div>
		<h1 class="display-4">Welcome, @Model.FirstName @Model.LastName</h1>
		<p>Here are your account details</p>
		<div class="card" style="width: 100%">
			<div class="card-body">
				<h5 class="card-title">Account Details</h5>
				<p class="card-text">Email: @User.Identity.Name</p>
				<p class="card-text">First Name: @Model.FirstName</p>
				<p class="card-text">Last Name: @Model.LastName</p>
				<p class="card-text">Gender: @Model.Gender</p>
				<p class="card-text">NRIC: @Model.Nric</p>
				<p class="card-text">Date of Birth: @Model.DateOfBirth</p>
				<p class="card-text">Resume: <a href="Resume/@Model.Email/@Model.ResumeFile">@Model.ResumeFile</a></p>
				<p class="card-text">Who Am I?: @Html.Raw(Model.About)</p>
				<a href="ChangePassword" class="btn btn-primary">Change Password</a>
				<a href="Enable2FA" class="btn btn-primary">Enable 2FA</a>
			</div>
		</div>
	</div>

} else {
	<div class="text-center">
		<h1 class="display-4">Welcome</h1>
		<p><a class="btn btn-primary" href="/Login">Login</a> or <a class="btn btn-primary" href="/Register">Register</a> yourself to get started on this website.</p>
	</div>
}
